<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.ytframework.testscripts.TC01"/>
      <class name="org.ytframework.testscripts.TC02"/>
      <class name="org.ytframework.testscripts.TC03"/>
      <class name="org.ytframework.testscripts.TC04"/>
      <class name="org.ytframework.testscripts.TC05"/>
      <class name="org.ytframework.testscripts.TC06"/>
      <class name="org.ytframework.testscripts.TC07"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
